include *.md

recursive-include zenfeed *.mo
recursive-include zenfeed *.svg
recursive-include zenfeed *.png

recursive-include zenfeed *.html
recursive-include zenfeed *.css
recursive-include zenfeed *.js

recursive-include zenfeed *.woff
