<div class="header">
	<h1>General and default settings</h1>
</div>

<div class="content">
	<div class="pure-g bandeau">
		<div class="pure-u-8-24"><a href="#/config" class="menu-selected">Settings</a></div>
		<div class="pure-u-8-24"><a href="#/feed">Feeds</a></div>
		<div class="pure-u-8-24"><a href="/logout/">Log out</a></div>
	</div>

	<div ng-controller="ConfigCtrl">
		<form class="zenform zenform-spaced" ng-submit="saveConfig()">
			<label for="config-login">Login</label>
			<input id="config-login" type="text" ng-model="config.login" />

			<label for="config-password">Password</label>
			<input id="config-password" type="password" ng-model="config.pw" placeholder="Leave blank for no change." />
			<div ng-show="config.pw" class="input-details"><i>You will need to log in again after this operation.</i></div>

			<label for="config-time-interval">Default refresh time interval</label>
			<input id="config-time-interval" type="number" ng-model="config.default_refresh_interval" />

			<label for="config-max-entries">Default maximum entries number</label>
			<input id="config-max-entries" type="number" ng-model="config.default_max_entries" />

			<label for="config-highlight-news">Highlight updated feeds by default</label>
			<input id="config-highlight-news" type="checkbox" ng-model="config.default_highlight_news" />

			<br />
			<input type="submit" value="save" />
			<input type="button" class="button-grey" ng-click="refetch()" value="refetch" />
		</form>
	</div>
</div>
