<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zenfeed.</title>
	<link rel="icon" type="image/png" href="/static/img/zenicon.png" />
	<link rel="stylesheet" href="/static/css/grid.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div id="layout">
<div id="main">
{% block body %}{% endblock %}
</div>
</div>
<script type="text/javascript" src="/static/js/zenfeed.js"></script>
</body>
</html>
